.left-navi{
	float: left;
	width: 200px;
	padding-bottom: 15px;
	border: 1px solid rgba(0,0,0,.08);
	border-bottom: 1px solid #cfcfcf;
	background-color: #fff;
	list-style:none;
}
.left-navi li{
	height:50px;
	line-height:50px;
	text-align:center;
	border-bottom: 1px solid #ddd;
	color:#666;
	padding-left:50px;
	text-align:left;
	background-repeat:no-repeat;
}
.left-navi li.navi-title.nolink{
	padding-left:20px;
	height:60px;
	line-height:60px;
	font-size:13px;
	border-bottom: 1px solid #cde1ff;
    color: #b6b6b6
}
.left-navi li.navi-title{
    padding-left:20px;
    height:60px;
    line-height:60px;
    font-size:14px;
    border-bottom: 1px solid #cde1ff;
    color: #666
}
.left-navi a:hover{
	text-decoration:none;
}
.left-navi a:hover li{
	color: #2478fa;
	background-color:#f1f6ff;
	cursor:pointer;
}
.left-navi li.on{
	background-color:#f1f6ff;
	border-left:2px solid #2478fa;
	color: #2478fa;
}
.left-navi li.nav-1{
    font-size: 12px;
	background-image:url("assets/navi-1.png");
}
.left-navi li.nav-2{
	background-image:url("assets/navi-2.png");
}
.left-navi li.nav-3{
	background-image:url("assets/navi-3.png");
}
