@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}
body {
    font-family: "microsoft yahei";
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.viewpage {
    width: 100%;
    min-height: 100%;
    padding-bottom: 105px;
    position: relative;
}

#root{
    height: 100%;
}
a,a:hover {
    text-decoration: none
}

.clearfix:after,.row:after {
    content: " ";
    visibility: hidden;
    clear: both
}

* html .clearfix,* html .row,.bar,.kt2-license-box .bd .li-middle .avatar {
    zoom:1}

body,button,caption,div,input,select,td,textarea,th {
    text-align: left
}

.btn,body {
    text-align: center
}

blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,table,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 400
}

ul li {
    list-style: none
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1.1em;
    vertical-align: baseline
}

input[type=checkbox],input[type=radio] {
    vertical-align: middle
}

textarea {
    overflow: auto;
    resize: none
}

a:focus,button:focus {
    outline-style: none;
    outline-width: 0
}
.clearfix {
    zoom:1;
 }

.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.omregister .help-block { font-size: 12px; line-height: 20px; color: #999; margin-top: 5px; }
.omregister .help-block .icon-success-sm, .omregister .help-block .icon-fail-sm {
    top: 2px;
    margin-right: 5px;
}
.omregister .help-block.error {
    color: #f54040;
}
