.btn {
    position: relative;
    padding: 0 24px;
    height: 38px;
    line-height: 36px;
    font-weight: 100;
    color: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    background-color: #b6b6b6;
    font-family: "MicroSoft YaHei"
}
.btn:hover {
    color: #fff;
    border-color: #b6b6b6;
    background: rgba(182,182,182,.9);
    border-color: rgba(182,182,182,.9)
}

.btn:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disable,.btn.disable:active,.btn.disable:hover {
    background: #c8c8c8;
    border-color: #c8c8c8;
    box-shadow: none;
    cursor: default;
    cursor: not-allowed
}

.form-select:focus,.has-error .input-text,.has-fail .input-text,.input-text:focus,.textarea:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6)
}

.btn.xs {
    padding: 0 15px;
    height: 26px;
    line-height: 25px;
    border-radius: 2px
}

.btn.sm {
    min-width: 50px;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px
}

.btn.lg {
    height: 40px;
    line-height: 38px;
    font-size: 16px
}

.btn-primary {
    color: #fff;
    background: #5091f6;
    border: 1px solid #5091f6
}

.btn-primary:hover {
    color: #fff;
    border-color: #4c8cee;
    background: rgba(76,140,238,.9);
    border-color: rgba(76,140,238,.9)
}

.btn-c,.btn-c:hover {
    border-color: #5091f6
}

.btn-c {
    color: #5091f6;
    background: #fff
}

.btn-c:hover {
    color: #fff;
    background: #5091f6
}

.btn-d {
    color: #999;
    background: #fff;
    border-color: #e9e9e9
}

.btn-d:hover {
    color: #fff;
    background: #5091f6;
    border-color: #5091f6
}

.btn-e,.btn-e:hover {
    color: #fff;
    border-color: #fb5d33
}

.btn-e {
    background: #fb5d33
}

.btn-e:hover {
    background: rgba(251,93,51,.9);
    border-color: rgba(251,93,51,.9)
}

.btn-f,.btn-f:hover {
    color: #fff;
    border-color: #fe6435
}

.btn-f {
    background: #fe6435
}

.btn-f:hover {
    background: rgba(254,100,53,.9);
    border-color: rgba(254,100,53,.9)
}

a,a:hover {
    color: #2478fa
}

.btn-loading {
    cursor: default
}

.btn-secondary,.search {
    border-radius: 0
}

.btn-publish{
    color: #ffffff;
    text-shadow: none;
    background-color: #2478fa;
    *background-color: #2478fa;
    background-image: -moz-linear-gradient(top, #5091f6, #5091f6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5091f6), to(#5091f6));
    background-image: -webkit-linear-gradient(top, #5091f6, #5091f6);
    background-image: -o-linear-gradient(top, #5091f6, #5091f6);
    background-image: linear-gradient(to bottom, #5091f6, #5091f6);
    background-repeat: repeat-x;
    border: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5091f6', endColorstr='#5091f6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-publish:hover{
    color: #ffffff;
    background-color: #286090;
    *background-color: #286090;
	 background-image: -moz-linear-gradient(top, #286090, #286090);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#286090), to(#286090));
    background-image: -webkit-linear-gradient(top, #286090, #286090);
    background-image: -o-linear-gradient(top, #286090, #286090);
    background-image: linear-gradient(to bottom, #286090, #286090);
    background-repeat: repeat-x;
    border: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#286090', endColorstr='#286090', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-publish .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
