.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-top: 0;
    text-align: center;
    font-size: 0.14rem;

    .footermenu {
        padding-top: 25px
        a {
            margin: 0 11px
        }
    }

    .copyrighten {
        padding-top: 9px
    }
}

.footer,.footer a {
    color: #838383
}
